# Python Module Analysis: `/workspace/cohenix-bench/apps/frappe/frappe/core/doctype/report/test_report.py`

## Classes

### `TestReport`
**Inherits:** `IntegrationTestCase`


**Docstring:**
```

```

**Methods:**
| Name | Arguments | Decorators | Docstring |
|---|---|---|---|
| `setUpClass` | `cls` | `classmethod` |  |
| `test_report_builder` | `self` | `` |  |
| `test_query_report` | `self` | `` |  |
| `test_save_or_delete_report` | `self` | `` | Test for validations when editing / deleting report of type Report Builder |
| `test_custom_report` | `self` | `` |  |
| `test_report_with_custom_column` | `self` | `` |  |
| `test_report_permissions` | `self` | `` |  |
| `test_report_custom_permissions` | `self` | `` |  |
| `test_format_method` | `self` | `` |  |
| `test_non_standard_script_report` | `self` | `` |  |
| `test_script_report_with_columns` | `self` | `` |  |
| `test_toggle_disabled` | `self` | `` | Make sure that authorization is respected. |
| `test_add_total_row_for_tree_reports` | `self` | `` |  |
| `test_cte_in_query_report` | `self` | `` |  |





## Functions

No top-level functions found in this file.
